
# venv Virtual Environments
*_env

# python compiled code
__pycache__/
# vscode configs
.vscode/


# Dependency directories
node_modules/
jspm_packages/


### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*


# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

